%article
  %h1 About Bemaniac
  %p 
    Bemaniac is a Hardcore, and Hard Techno DJ living in San Francisco, CA. Originally from Canada, he started listening to Hardcore at an early age. With Neophyte and Scott Brown as early influencers, he decided to take up DJing.
  %p  
    He soon discovered the experimental side of Hardcore, and started playing from labels like Meta4, Industrial Strength, and Enzyme K7.
  %p  
    Today, he has carved out a unique sound from Hardcore. Riding the line between Hard Techno and Industrial, he is certainly a force to be reckoned with.
  %p
    Become my fan on Facebook here. Follow me on Twitter here.